*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the body */
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fdfafa;
}


/* Header/logo Title */
.header {
  padding: 50px;
  text-align: center;  
  background-position: right;
  background-color: #fdfafa;
  color: rgb(0, 119, 255);
}


/* User Login */

#user{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;

}
#user button{
  padding: 5px 30px;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
#user button:hover{
  transform: scale(1.08);
}
#logout{
  padding: 5px 30px;
  border: none;
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
#logout:hover{
  transform: scale(1.08);
}

/* Navigation bar use Dropdown */
.navbar {
  overflow: hidden;
  background-color: #333;
  /* position: sticky;
  top: 0%;   */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #3a3939;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
}





.urllink{
  font-size: 30px;
}


.header h3 {
  font-size: 20px;
  color: black;
  padding-top: 10px;
}


hr{
  height: 3px;
  color: blue;
}

/* Image Slider */

.slider{
  width: 100%;
  overflow-x: auto;
  padding: 10px;
}

.images{
  display: flex;
  gap: 10px;
  width: 100%;
  
}

.images img{
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}

/* Container */
.container{
  padding: 20px;
}


/* heading level 1 */
.container h1{
  font-family: sans-serif;
  color: darkcyan;
  padding-top: 20px;
  font-size: 40px;
  text-align: center;
  font-variant: small-caps;
}


/* Mobile View */
@media screen and (max-width: 440px){
  .images{
    display: grid;
    gap: 20px;
  }
}

.container p{
  line-height: 30px;
  color: darkcyan;
  font-variant: small-caps;
}
.indent1{
  text-indent: 30px;
}


.content1 img{
  display: grid;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  gap: 30px;
}

.content2 img{
  display: grid;
  margin: auto;  
  max-width: 100%;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}

.div1{
  border-radius: 30px;
  margin: 10px;
  background-color: #f5f5ea;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
}

.divhd{
  font-size: 60px;
  font-weight: 300;
  text-align: left;
}

.divpara{
  color: grey;
  font-variant: normal;
}

.container content3, divhd, #divpara{
  color: grey;
  font-variant: normal;
}

.div2{
  display: grid;
  gap: 40px;
  margin: auto;
  justify-items: center;
  height: 100%;
  padding: 15px;
}

.box1{
  background-color: #f65555;
  color: white;
  text-align: center;
  font-size: 50px;
  width: 800px;
  height: 650px;
  /* padding: 2%; */
  border-style: double;
  border-radius: 15%;
}

.graduate{
  width: 500px;
}

.boxtxt1{
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

.boxtxt2{
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Graduate Mobile View */
@media screen and (max-width: 860px){
  .box1{
    display: block;
    border-radius: 15%;
    padding: 0;
    width: 385px;
    height: 300px;
  }
  .graduate{
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 450px){
  .box1{
    display: block;
    border-radius: 15%;
    padding: 0;
    width: 300px;
    height: 250px;
  }
  .graduate{
    width: 150px;
    height: 150px;
  }
  .boxtxt1{
    font-size: 40px;
  }
}

.box2{
  background-color: #a8aeab;
  color: white;  
  text-align: center;
  font-size: 50px;
  width: 800px;
  height: 650px;
  padding: 1%;
  border-style: double;
  border-radius: 15%;
}

.postgraduate{
  width: 500px;
}


@media screen and (max-width: 860px){
  .box2{
    display: block;
    border-radius: 15%;
    /* padding: 5%; */
    background-color: lightsalmon;
    width: 385px;
    height: 300px;
  }
  .postgraduate{
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 450px){
  .box2{
    display: block;
    border-radius: 15%;
    padding: 20px;
    width: 300px;
    height: 250px;
  }
  .postgraduate{
    width: 135px;
    height: 135px;
  }
  .boxtxt2{
    font-size: 40px;
  }
}


/* footer */
#footbar{
  background-color: grey;
  height: 100px;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
  /* position: sticky;
  bottom: 0; */
  
}
#footbar a {
  display: inline-block;  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#footbar a:hover {
  background: red;
  color: white;
}
.copyright{ 
  color: white;
  padding: 14px;
  text-align: left;
  font-size: 17px;
}
<<<<<<< HEAD
.imglogo{
  height: 100%;
  width: 500px;
  float: center;
}

@media(max-width:580px){
  .imglogo{
    max-width: 400px;
  }
}

@media(max-width:470px){
  .header{
    padding: 20px;
  }
=======
.logo{
  width: 400px;
}

@media(max-width:530px){
>>>>>>> dfe423fb502fb9f8e8a295a469ed83bf3a2369b0
  .header h1{
    font-size: 33px;
  }
  .header h3{
    font-size: 17px;
  }
  .urllink{
    font-size: 17px;
  }
<<<<<<< HEAD
  .imglogo{
    max-width: 220px;
=======
  .logo{
    max-width: 100px;
>>>>>>> dfe423fb502fb9f8e8a295a469ed83bf3a2369b0
  }
}

